<div class="container-fluid">
  <h1>Editing estimate</h1>

  <%= render 'form' %>

  <div class="btn-group">
    <%= link_to 'Show', @estimate, :class => 'btn' %>
    <%= link_to 'Back', estimates_path, :class => 'btn' %>
  </div>
</div>
