<div class="container">
    <% if @published %>
    <div class="row">
        <div class="span12 well well-small">
            <h4>Estimate for <%= @published.vessel.name %> in <%= @published.port.name %>: <%= number_to_currency @published.data["total_with_tax"] %> Tax Inc.</h4>
            <p><small>Published on <%= l @published.updated_at %></small></p>
        </div>
    </div>
    <div class="row">
        <div class="span12 well well-small">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Amount Tax Inc.</th>
                    </tr>
                </thead>
                <tbody>
                    <% @fields.each do |f| %>
                    <tr>
                        <td><%= @published.descriptions[f] %></td>
                        <td><%= number_to_currency @published.values[f] %></td>
                        <td><%= number_to_currency @published.values_with_tax[f] %></td>
                    </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th><%= number_to_currency @published.data["total"] %></th>
                        <th><%= number_to_currency @published.data["total_with_tax"] %></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <% else %>
    <div class="well"><h3>The requested document cannot be found.</h3></div>
    <% end %>
</div>
