<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Estimate from <%= l @estimate.updated_at %></h1>

  <div class="btn-group">
    <%= link_to 'Edit', edit_estimate_path(@estimate), :class => "btn" %>
    <%= link_to 'Back', estimates_path, :class => "btn" %>
  </div>
</div>
