<div class="login">
  <div class="login-logo"></div>
  <div class="spinner">
    <h1 class="text-center"><span class="fa fa-spinner fa-spin"></span></h1>
  </div>
  <div class="login-footer">
    <div><a href="http://stage3systems.com/tos.html">Terms of Service</a></div>
    &copy; 2013-<%= Date.today.year %>
    <a href="http://stage3systems.com" target="_blank"
       class="company">Stage 3 Systems Pte. Ltd.</a>
  </div>
</div>
<script type="text/javascript">
    window.location = '<%= auth_login_path %>';
  });
</script>
