<div class="login">
  <h1 class="text-center">PDA Estimator</h1>
  <div class="spinner">
    <h1 class="text-center"><span class="fa fa-spinner fa-spin"></span></h1>
  </div>
</div>
<script type="text/javascript">
  var xdStorage = new CDStorage('<%= @rocket_url %>', '/crossdomain.html');
  getToken(xdStorage, function(key, token) {
    <% if @rocket_clear_token_on_logout %>
    if (token) {
      xdStorage.removeItem('userToken');
    }
    <% end %>
    window.location = '<%= auth_login_path %>';
  });
</script>
