<% content_for :navbar_buttons do %>
  <%= link_to 'Back', named_services_path(), :class => 'btn btn-default btn-sm' %>
<% end %>
<div class="row">
  <div class="col-md-12">
  <h2 class="title">New Named Service</h2>

  <%= render 'form' %>
  </div>
</div>
