<div class="container-fluid">
<h1>Dashboard</h1>
<div class="well">
  <h3>Last 10 published estimates</h3>
  <% if @published.each do |p| %>
    <%= link_to p.title, published_url(id: p.publication_id) %> published on <%= l p.updated_at %><br />
  <% end.empty? %>
    No published estimates available.
  <% end %>
</div>
<div class="well">
  <h3>Last 10 draft estimates</h3>
  <% if @drafts.each do |d| %>
    <%= link_to d.title, edit_estimate_url(d) %> last updated on <%= l d.updated_at %><br />
  <% end.empty? %>
    No draft estimates available.
  <% end %>
</div>
</div>
