<div class="container-fluid">
  <h2 class="title">Editing vessel</h2>

  <%= render 'form' %>

  <div class="btn-group">
    <%= link_to 'Show', @vessel, :class => 'btn btn-small' %>
    <%= link_to 'Back', vessels_path, :class => 'btn btn-small' %>
  </div>
</div>
