<% content_for :navbar_buttons do %>
  <%= link_to 'View', @instance, :class => 'btn btn-default btn-sm' %>
  <%= link_to 'Back', vessels_path, :class => 'btn btn-default btn-sm' %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h2 class="title">Editing Vessel</h2>

    <%= render 'form' %>

  </div>
</div>
