<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1><%= @vessel.name %></h1>

  <div class="btn-group">
    <%= link_to 'Edit', edit_vessel_path(@vessel), :class => "btn" %>
    <%= link_to 'Back', vessels_path, :class => "btn" %>
  </div>
</div>
