<%= grid(@disbursements_grid) do |g|
  g.column name: 'Reference', attribute: 'reference', model: 'DisbursementRevision' do |d|
    if d.draft?
      link_to d.current_revision.reference,
              edit_disbursement_path(d)
    else
      link_to d.current_revision.reference,
              published_short_url(:id => d.publication_id)
    end
  end
  g.column name: 'ETA', attribute: 'eta', model: 'DisbursementRevision' do |d|
    l(d.current_revision.eta) rescue "N/A"
  end
  g.column name: 'Port', attribute: 'name', model: 'Port' do |d|
    d.port.name
  end
  g.column name: 'Company', attribute: 'name', model: 'Company' do |d|
    d.company.name rescue ''
  end
  g.column name: 'Vessel',attribute: 'name', model: 'Vessel' do |d|
    d.vessel_name
  end
  g.column name: 'Amount', attribute: 'amount', model: 'DisbursementRevision', filter: false do |d|
    number_to_currency d.current_revision.amount, unit: ""
  end
  g.column name: 'Currency', filter: false do |d|
    d.current_revision.data['currency_code']
  end
  g.column name: 'Last Modified', attribute: 'updated_at', model: 'DisbursementRevision', filter: false  do |d|
    l(d.current_revision.updated_at)
  end
  g.column name: 'Rev.', attribute: 'number', model: 'DisbursementRevision', filter: false do |d|
    link_to d.current_revision.number, "/disbursements/#{d.id}/revisions"
  end
  g.column name: 'Views', attribute: 'anonymous_views', model: 'DisbursementRevision', filter: false do |d|
    link_to d.current_revision.anonymous_views, access_log_disbursement_path(d)
  end
  g.column name: 'Prints', attribute: 'pdf_views', model: 'DisbursementRevision', filter: false  do |d|
    link_to d.current_revision.pdf_views, access_log_disbursement_path(d)
  end
  g.column name: 'Status', attribute: 'status_cd',
    custom_filter: [['DRAFT', 0], ['INITIAL', 1], ['CLOSE', 3],
                    ['INQUIRY', 4], ['ARCHIVED', 6]]  do |d|
    if false
      select_tag "status_#{d.id}",
                 ("<option value=\"draft\""+
                  "#{" selected" if d.draft?}"+
                  ">DRAFT</option>"+
                  "<option value=\"inquiry\""+
                  "#{" selected" if d.inquiry?}"+
                  ">INQUIRY</option>"+
                  "<option value=\"initial\""+
                  "#{" selected" if d.initial?}"+
                  " >INITIAL</option>"+
                  "<option value=\"close\""+
                  "#{" selected" if d.close?}"+
                  ">CLOSE</option>"+
                  "<option value=\"archived\""+
                  "#{" selected" if d.archived?}"+
                  ">ARCHIVED</option>").html_safe,
                  style: "width: auto;",
                  class: "status status-#{ d.status.to_s }"
    end
    render partial: 'status_button', locals: {disbursement: d}
  end
  g.column do |d|
    render partial: 'actions', locals: {disbursement: d}
  end
end %>
