<div class="">
  <h2 class="title">
    Proforma Disbursements
    <%= link_to 'New PFDA', new_disbursement_path,
                :class => 'btn btn-primary btn-sm' %>
  </h2>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'grid' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  var setupListeners = function() {
    $("select.status").on("change", function() {
      var id = $(this).attr("id").split("_")[1];
      window.location = "/disbursements/"+id+"/status/"+$(this).val();
    });
  };
  setupListeners();
</script>
