<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h2 class="title">PFDA from <%= l @disbursement.updated_at %></h2>

  <div class="btn-group">
    <%= link_to 'Edit', edit_disbursement_path(@disbursement), :class => "btn btn-small" %>
    <%= link_to 'Back', disbursements_path, :class => "btn btn-small" %>
  </div>
</div>
