<div class="container-fluid">
  <h2 class="title">Editing company</h2>

  <%= render 'form' %>

  <div class="btn-group">
    <%= link_to 'Show', @company, :class => 'btn btn-small' %>
    <%= link_to 'Back', companies_path, :class => 'btn btn-small' %>
  </div>
</div>
