<div class="">
  <h2 class="title">Editing Terminal</h2>

  <%= render 'form' %>

  <div class="btn-group">
    <%= link_to 'Show', port_terminal_path(@port, @terminal), :class => 'btn btn-default btn-sm' %>
    <%= link_to 'Back', port_terminals_path(@port), :class => 'btn btn-default btn-sm' %>
  </div>
</div>
