<% content_for :navbar_buttons do %>
  <%= link_to 'View', port_terminal_path(@port, @terminal), class: 'btn btn-default btn-sm' %>
  <%= link_to 'Back', port_terminals_path(@port), class: 'btn btn-default btn-sm' %>
<% end %>
<div class="row">
  <div class="col-md-12">
  <h2 class="title">Editing Terminal</h2>

  <%= render 'form' %>
  </div>
</div>
