<div class="container-fluid">
  <h1>New terminal for <%= @port.name %></h1>

  <%= render 'form' %>

  <div class="btn-group">
    <%= link_to 'Back', port_terminals_path, :class => 'btn' %>
  </div>
</div>
