<div class="btn-toolbar">
  <div class="btn-group btn-group-sm">
    <%= link_to icon(:pencil), edit_tax_path(tax),
      :class => 'btn btn-default btn-sm',
      :title => 'Edit' %>
    <%= link_to icon(:trash), tax, method: :delete,
              data: { confirm: 'Are you sure?' },
              :class => "btn btn-danger btn-sm#{" disabled" if tax.ports.count > 0}",
              :title => 'Delete' %>
  </div>
</div>
