<div class="container-fluid">
  <h2 class="title">Editing tax</h2>

  <%= render 'form' %>

  <div class="btn-group">
    <%= link_to 'Show', @tax, :class => 'btn btn-small' %>
    <%= link_to 'Back', taxes_path, :class => 'btn btn-small' %>
  </div>
</div>
