<% content_for :navbar_buttons do %>
  <%= link_to 'View', @tax, class: 'btn btn-default btn-sm' %>
  <%= link_to 'Back', taxes_path, class: 'btn btn-default btn-sm' %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h2 class="title">Editing Tax</h2>

    <%= render 'form' %>
  </div>
</div>
