div.pfda-container {
  background: url(published_bg.png);
};
div.pfda-inner {padding: 5em;}

div.pfda {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 3px 8px #aaa;}

div.pfda-header {background-color: #eee; padding: 1em; box-shadow: 0 3px 8px #aaa; margin-bottom: 40px;}
div.pfda-header div.due {
  float: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #999;
}
div.pfda-logo {margin: 0 auto; float: none; text-align: center; padding: 20px; }
div.pfda-header div.amount {
  // IE7 workaround, replaces margin-top: 8px;
  padding-top: 5px;
  margin-top: 3px;
  padding-bottom: 5px;
  margin-bottom: -5px;
  float: left;
  padding-left: 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;}
div.pfda-header em.currency {font-size: 20px; font-style: normal; font-weight: normal; }
div.pfda-header span.small {font-size: 20px; font-weight: bold; color: #999;}
div.final-figure {
  vertical-align: middle;
  height: 60px;
}
div.final-figure-title {
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}
div.final-figure-amount {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: normal;
  border: 2px solid #000;
  font-size: 36px;
  text-align: right;
  font-weight: bold;
}
div.final-figure-amount span.amount {
  padding-left: 10px;
}
div.final-figure-amount span.currency {
  font-size: 20px;
  padding-right: 1em;
}
