/* v2 style */
$navbar-inverse-bg: #303a43;
$navbar-inverse-link-color: #fff;
$navbar-inverse-brand-color: #52c7e6;
$navbar-margin-bottom: 0px;
// $brand-primary: darken(#52c7e6, 10%);
$brand-primary: #52c7e6;
$sidebar-bg: #cfd8df;
$sidebar-active-bg: #b2c3cd;
$main-bg: #f2f3f5;
$body-bg: $main-bg;

/* tabs */
$nav-tabs-border-color: $main-bg;
$nav-tabs-active-link-hover-bg: $main-bg;
$nav-tabs-active-link-border-color: $main-bg;
$well-bg: #fff;
$well-border: darken($well-bg, 20%);

/* tables */
$table-bg: white;

body {
  padding-top: 50px;
  height: 100%;
  background-color: $main-bg;
}
html {
  background-color: $main-bg;
}
.sidebar {
  z-index: 1000;
  padding: 0;
  background-color: $sidebar-bg;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: auto;
  height: 90px;
}
.sidebar ul {
  height: 90px;
  padding: 0;
  margin: 0;
}
p.nav-item {
  height: 90px;
}
.sidebar ul li {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  width: percentage(1/3);
}
.main {
  background-color: $main-bg;
  margin-top: 90px;
  margin-left: 0;
  margin-bottom: 80px;
}
.footer {
  border-top: 1px solid #ddd;
  line-height: 40px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  a {
    margin: 0 1em;
  }
}
.nav-tabs {
  background-color: #fff;
}
.nav-tabs li {
  text-align: center;
}
.nav-tabs li.active a {
  border: 1px solid $main-bg !important;
}
.nav-tabs li a {
  border: none;
  color: #999;
  line-height: 50px !important;
  min-height: 50px;
}
@media (min-width: 768px) {
  .sidebar {
    width: 120px;
    top: 51px;
    right: auto;
    height: auto;
    bottom: 0;
  }
  .sidebar ul li {
    display: block;
    width: auto;
  }
  .main {
    margin-top: 0;
    margin-left: 120px;
  }
  .footer {
    left: 120px;
  }
}
p.nav-item {
  margin: 0;
  padding: 1em 0;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  .logo {
    font-size: 36px;
  }
  &:hover {
    background-color: $sidebar-active-bg;
  }
}
li.active p.nav-item {
  background-color: $sidebar-active-bg;
  border-bottom: 1px solid #aaa;
}
ul.nav-sidebar li a {
  color: #333;
  padding: 0;
  margin: 0;
}
a.navbar-brand {
  font-weight: bold;
}
a.company {
  font-weight: bold;
  color: #999;
  &:hover {
    color: #999;
  }
}
div.nav-buttons {
  padding-top: 10px;
}

/* dashboard search */
select#search_cargo_type {
  max-width: 220px;
}
input.date {
  max-width: 104px;
}
div.search-form div.form-group {
  margin-bottom: 1em;
}
.search-form { padding: 0 10px 10px;}
.search-form form { margin: 0; }
.search-form legend { font-size: 16px; line-height: 36px; text-transform: uppercase; }

.search-results { margin-bottom: 10px; background: #fff; }
.search-results ul { margin: 0; padding: 0; }
.search-results li { list-style: none; padding: 10px; }
.search-results .summary { padding: 10px; }
.search-results .search-nav { float: right; }

.dashboard-da {
  padding: 0.5em 0;
  min-height: 45px;
}
hr.dashboard {
  margin: 0;
  color: #aaa;
}
