<a class="btn btn-small<%= " disabled" unless disbursment.published? %>"
   <% if disbursment.published? %>
   title="Send a Link By Email"
   href="mailto:<%= disbursment.company.email %>?subject=<%= URI.escape("#{disbursment.vessel_name} calling at #{disbursment.port.name}") %>&body=<%= URI.escape(<<BODY
Please click on the link below to view the requested Proforma Disbursment Account for #{disbursment.vessel_name} calling at #{disbursment.port.name}.
You can download a PDF file view of the estimate from this link (no log in required).

#{published_short_url(disbursment.publication_id)}

Please remit funds at least two (2) days prior to vessels arrival to the following Bank Account:

ANZ Bank Ltd
7 Queen Street
Fremantle, Western Australia

SWIFT Code: ANZBAU3M
BSB Number: 016-307
A/C Number: 1077-33669
A/C Name: Monson Agencies Australia Pty Ltd

Download the full Terms and Conditions:
#{root_url}maa-terms.pdf

For enquires relating to this Estimate please contact our local Port Office:

#{disbursment.port.office.name rescue config.company_name}
#{disbursment.port.office.address_1 rescue config.company_address1}
#{disbursment.port.office.address_2 rescue config.company_address2}
#{disbursment.port.office.address_3 rescue ""}

BODY
)
%>"
   <% else %>
   href="#"
   <% end %>
>
  <i class="icon-envelope"></i>
</a>
